extends layout

block content
  div(class="content")
    div(class="home")
      p Welcome to the Inventory Management System
      p This is a simple inventory management system that allows you to create, read, update, and delete items from your inventory.
      p Please use the navigation bar to get started.
