doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src="https://kit.fontawesome.com/1d6c1d828f.js", crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div(class="nav")
      block navbar
        h1 Inventory Project
        ul(class="nav-items")
          li 
            a(href="/") Home
          li 
            a(href="/catalog/item") Items
          li 
            a(href="/catalog/category") Categories
          li
            a(href="/catalog/vendor") Vendors
    div(class="section")
      block section
    div(class="content")
      block content
